html {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
  display: inline-block; /* Allows the width to shrink-to-fit its content */
}

#mainToggle {
  padding: 10px;
  /* margin-top: 15px; */
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#ssLoggingToggle {
  padding: 4px;
  font-size: 10px;
  width: auto;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

.on {
  background-color: green;
  color: white;
}

.off {
  background-color: red;
  color: white;
}
