body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 300px;
    padding: 10px;
}

button {
    padding: 10px;
    /* margin-top: 15px; */
    margin-bottom: 15px;
    font-size: 16px;
    cursor: pointer;
}

.on {
    background-color: green;
    color: white;
}

.off {
    background-color: red;
    color: white;
}
